<div class="widget wow fadeIn">
    {{#if title}}<h4 class="title">{{title}}</h4>{{/if}}
    <div class="social-links">
        {{#if facebook}}
            <a class="facebook" href="{{facebookURL}}" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
        {{/if}}

        {{#if google}}
            <a class="google" href="{{googleURL}}" target="_blank">
                <i class="fa fa-google-plus"></i>
            </a>
        {{/if}}

        {{#if twitter}}
            <a class="twitter" href="{{twitterURL}}" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
        {{/if}}

        {{#if dribbble}}
            <a class="dribbble" href="{{dribbbleURL}}" target="_blank">
                <i class="fa fa-dribbble"></i>
            </a>
        {{/if}}

        {{#if instagram}}
            <a class="instagram" href="{{instagramURL}}" target="_blank">
                <i class="fa fa-instagram"></i>
            </a>
        {{/if}}

        {{#if github}}
            <a class="github" href="{{githubURL}}" target="_blank">
                <i class="fa fa-github"></i>
            </a>
        {{/if}}

        {{#if youtube}}
            <a class="youtube" href="{{youtubeURL}}" target="_blank">
                <i class="fa fa-youtube"></i>
            </a>
        {{/if}}

        {{#if pinterest}}
            <a class="pinterest" href="{{pinterestURL}}" target="_blank">
                <i class="fa fa-pinterest"></i>
            </a>
        {{/if}}

        {{#if linkedin}}
            <a class="linkedin" href="{{linkedinURL}}" target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
        {{/if}}

        {{#if skype}}
            <a class="skype" href="{{skypeURL}}" target="_blank">
                <i class="fa fa-skype"></i>
            </a>
        {{/if}}

        {{#if tumblr}}
            <a class="tumblr" href="{{tumblrURL}}" target="_blank">
                <i class="fa fa-tumblr"></i>
            </a>
        {{/if}}

        {{#if rss}}
            <a class="rss" href="{{@blog.url}}/rss/" target="_blank">
                <i class="fa fa-rss-square"></i>
            </a>
        {{/if}}
    </div>
</div>