<div class="widget wow {{animation}}">
    <div class="share-post social-icons">
        <p>{{title}}</p>
        <a href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}" target="_blank"
           onclick="window.open(this.href, 'facebook-share', 'width=550,height=235');return false;">
            <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://plus.google.com/share?url={{url absolute="true"}}" target="_blank"
           onclick="window.open(this.href, 'google-plus-share', 'width=550,height=235');return false;">
            <i class="fa fa-google-plus-square"></i>
        </a>
        <a href="http://twitter.com/share?text={{@blog.title}}&url={{url absolute="true"}}" target="_blank"
           onclick="window.open(this.href, 'twitter-share', 'width=688,height=400');return false;">
            <i class="fa fa-twitter-square"></i>
        </a>
    </div>
</div>
