<article id="{{id}}" class="{{post_class}} wow fadeIn">
    <header>
        <h2><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <section>
        <p>{{content}}</p>
    </section>
    <footer></footer>
</article>
